body{
    background-color: rgb(1, 150, 1);
    padding-left: 500px;
    padding-right: 300px;
    padding-bottom: 200px;
    padding-top: 100px;
    }
    div{ 
        width: 330px;
        display: flex;
     background-color: white;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    box-shadow: 0 0 10px black;
    height: 450px;
    padding: 5px;
    }
    h1{
        color: rgb(114, 114, 114);
    }
    p{
         margin: 5PX;
        color: rgb(124, 123, 123);
        text-align: start;
    }
    .a{
        margin: 5px;
        height: 25px;
    }
    .b{
        height: 25px;
        margin: 5px;
    }
    .c{
        height: 25px;
        margin: 5px;
    }
    .d{
        height: 25px;
        margin: 5px;
    }
    .e{
        margin: 5px;
        height: 70px;
    }
    .f{
       background-color: green;
        margin: 5px; 
        color: white;
        height: 35px;
    }
    