body{
    margin: 0;
    padding: 0;
    background-image: url(https://w3cssthemes.com/demo/w3css-hotel/images/hotel.jpg) ;
    background-size: cover;
}
header {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    align-items: center;
    height: 50px;
    background-color: white;
}
header ul {
    display: flex;

}
header ul li {
    list-style: none;
}

header a {
    width: 200px;
    text-decoration: none;
    color: black;
    font-size: 21px;
    padding: 10px;
    height: auto;
    text-align: left;
}
.first{
    background-color: #F44336;
    color: white;
    text-align: left;
}
#book{
    width: 150px;
    background-color: lightgray;
    text-align: center;
}
aside{
    margin-top: 150px;
    margin-left: 100px;
    border: 1px solid transparent;
    background-color: white;
    width: 600px;

}
aside header{
    flex-basis: 100%;
    background-color: #F44336;
    color: white;
    padding: 10px;
}

#block{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}
#block input{
    padding: 7px;
    width: 250px;

}
#date{
 display: flex;
 justify-content: space-evenly;
 flex-grow: 1;
 flex-basis: 100%;
}
#text{
   display: flex;
   justify-content: space-evenly;
   flex-grow: 1;
   flex-basis: 100%;
}
#but{
    display: inline-block;
}
aside button{
    padding: 8px;
    margin-top:15px ;
    width: 200px;
    margin-left: 15px;
    margin-bottom: 20px;
    background-color: #616161;
    border: none;
}
aside button i {
    margin-right:8px;
}
.but{
    box-sizing: border-box;
}
.inp{
    margin: 15px;
}
@media(max-width:750px){
    header {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    }
    .first{
        width: 100%;
    }
    header ul {
        display: flex;

    }
    header  nav{
        display: flex;
        flex-wrap: wrap;
    }
    header ul li a{
        display: inline-block;
        flex-wrap: wrap;
        flex-grow: 0;
        flex-shrink: 0
    }
    header a {
        flex-wrap: wrap;
       flex-grow: 1;
       flex-shrink: 0;
       text-align: center;
    
    }
     
}